html, body, *{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* NEEDED IN EVERY PROJECT */


body{
    background-color: #f9f9e2;
}
button{
    background-color: #fab128;
    color: #536c41;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 18px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1px 1px 7px #536c41;
}
button:hover{
    font-style: italic;
    transform: scale(1.15);
    transition: .1s;
}
button:active{
    background-color: #be8926;
}
a{
    margin-top: -10px;
    margin-bottom: 10px;
}
.name{
    font-size: 28px;
    color:#536c41;
    margin: 1rem;
    text-decoration: underline;
}

.title1{
    background-color: #73b4aa;
    padding-top: 10px;
    padding-bottom: 10px;

}
h1, h2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
h1{
    color:#536c41;
    font-size: 40px;
    text-align: center;
 /*    transform: translate(0,-5rem); */

}
h2{
    font-size: 18px;
    text-align: center;
    color: #536c41;

}
p{
    text-align: center;
    margin-top: 0.75vw;
    margin-bottom: 1vw;
}

div{
    margin: auto;
}


.container{
    height: 120rem;
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
div.card:hover{
    translate: 1px -3px;
}
.card{
    height: 30rem auto;
    width: 29%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 7px 7px 7px #416861e0;
    background-position: center;
    background-size: cover;
    transition:all 0.3s;
}

.footer{
    width: 100%;
    height: 7rem;
    background-color: #73b4aa;
}
.card-title{
    font-size: 30px;
}
.animation{
    animation: fadein 2.5s;
}

@keyframes fadein{
    0% {
        transform: translateY(110%) ;
        opacity: 0.17;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        transform: translateY(0%);
    }
}




#NiagaraFalls{
    background-image: linear-gradient(#73b4aa, #73b4aa25,#73b4aa25, #73b4aa ),  url(image/image1.png);

}
#Mexico{
    background-image: linear-gradient(#73b4aa, #73b4aa25,#73b4aa25, #73b4aa ),  url(image/image2.png);
}
#DominicanRepublic{
    background-image: linear-gradient(#73b4aa, #73b4aa25,#73b4aa25, #73b4aa ),  url(image/image3.png);
}
#Egypt{
    background-image: linear-gradient(#73b4aa, #73b4aa25,#73b4aa25, #73b4aa ),  url(image/image4.png);
}
#Hawaii{
    background-image: linear-gradient(#73b4aa, #73b4aa25,#73b4aa25, #73b4aa ),  url(image/image5.png);
}
#SanFrancisco{
    background-image: linear-gradient(#73b4aa, #73b4aa25,#73b4aa25, #73b4aa ),  url(image/image6.png);;
}
#London{
    background-image: linear-gradient(#73b4aa, #73b4aa25,#73b4aa25, #73b4aa ),  url(image/image7.png);
}
#Paris{
    background-image: linear-gradient(#73b4aa, #73b4aa25,#73b4aa25, #73b4aa ),  url(image/image8.png);
}
#Tokyo{
    background-image: linear-gradient(#73b4aa, #73b4aa25,#73b4aa25, #73b4aa ),  url(image/image9.png);
}



@media screen and (max-width: 1321px){
    .container {
        height: 90rem;
    }
}



@media screen and (max-width: 1200px){
    .card-title{
        font-size: 25px;
    }
}
@media screen and (max-width: 1050px){
    .card{
        width: 45%;
        margin-left: 1rem auto;
        margin-right: 1rem auto;
    }
    .container {
        height: 140rem;
    }
}
@media screen and (max-width: 640px) {
    .card {
        width:65%;
    }
    .container{
        height: 200rem;
    }
}
@media screen and (max-width:445px){
    h1{
        font-size: 30px;
    }
}












/* #post{
    height: 44rem;
    width: 50rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    background-color: #73b4aa;
    margin-top: 15px;
    margin-bottom: 15px;
} */
/* .card-img{
    width: 100%;
    height: 100%;
    /* object fit fixes aspect ratio of img if needed*/
    /* object-fit: cover; */
/* } */ 