html, body, *{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* NEEDED IN EVERY PROJECT */


body{
    background-color: #f9f9e2;
}
button{
    background-color: #fab128;
    color: #536c41;
    border: none;
    border-radius: 3px;
    width: 30rem;
    height: 18px;
    text-decoration: none;
    cursor: pointer;
}
button:hover{
    font-style: italic;
}
a{
    margin-top: -10px;
    margin-bottom: 10px;
}
.smaller{
    font-size: 28px;
    color:#536c41;
    margin: 1rem;
}

.title1{
    background-color: #73b4aa;
    padding-top: 10px;
    padding-bottom: 10px;

}

h1{
    color:#536c41;
    font-size: 40px;
    text-align: center;
 /*    transform: translate(0,-5rem); */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}
h2{
    font-size: 18px;
    text-align: center;
    color: #536c41;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
p{
    text-align: center;
    margin-top: 0.75vw;
    margin-bottom: 1vw;
}

div{
    margin: auto;
}

.div{
    width: 40rem;
    height: 7rem;
}

.container{
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.post{
    height: 41rem;
    width: 29%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#post{
    height: 44rem;
    width: 50rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    background-color: #73b4aa;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card-img{
    width: 100%;
    height: 100%;
    /* object fit fixes aspect ratio of img if needed*/
    object-fit: cover;
}

#dr-img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.card-title{
    font-size: 30px;
}
#NiagaraFalls{
    background-image: linear-gradient(#73b4aa, #73b4aa00,#73b4aa00, #73b4aa ),  url(image/image1.png);
}